
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMIENZO HEADER */
header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 40px 0;
    background-color:#e4cde6;
    position: fixed;
    top: 0;
    box-shadow: 0 0 30px 0 rgba(197, 77, 191, 0.637);
    left: 0;
    z-index: 1;
}
.column{
    width: 100%;
    max-width: 1100px;
}
div {
    display: block;
}
.navbar {
    display: flex;
    justify-content: flex-end;
}
.nav-menu {
    display: flex;
    margin: 0;
}
.item { /*espacio entre item */
    margin: 0 20px;
    padding: 0 10px;
}
ul{
    list-style-type: none; /* Elimina las viñetas */
    padding: 0; 
}
.contacto{
    border-radius: 100px;
    padding:  15px;
    background-color: #af7eda;
}
a{
    text-decoration: none; /* Elimina subrayado */
    color: #8c3999
}
/* FIN HEADER */
.section {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
p {
    display: block;
    line-height: 1;
}
/* COMIENZO SECTION ABOUT */
.about-section {
    min-height: calc(100vh - 90px);
    background-color: #F1EAFF;
    margin-top: 90px;
}
.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.about-info{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.greeting-name {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 900;
    color: #af7eda;
}
h1 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    font-size: 90px;
    font-weight: 900;
}
.about-name {
    margin-top: 0;
    margin-bottom: 0px;
    color: #8c3999;
}
.about-description {
    color: #616161;
    font-size: 20px;
    margin-bottom: 25px;
}
.button {
    background-color: #af7eda;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
}
.about-img {
    max-width: 500px;
    border-radius: 50%;
    width: 400px;
    height: 400px; 
    box-shadow: 4px 4px 12px #964b96;
}
/* FIN SECTION ABOUT */
/* COMIENZO SECTION SKILLS */
.skills-section {
    background-color: #dcd6eb;
}
.section-description {
    max-width: 400px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    display: block;
    font-size: 50px;
    font-weight: 1000;
    line-height: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.skills-grid {
    justify-content: center;
}
.skill {
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid #ac217d;
    border-radius: 10px;
    width: 270px;
    margin: 25px;
    padding: 20px;
}
.skill-title {
    font-size: 1.5em;
    font-weight: 800;
}
.skill-icon {
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 26px;
    display: block;
}
/* FIN SECTION SKILLS */
/* COMIENZO SECTION QUOTE */
.quote-section {
    background-color: #e638ec;
    color: white;
}
.quote-icon {
    font-size: 6rem;
    margin-bottom: 30px;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.quote {
    font-size: 1.7rem;
    max-width: 800px;
}
/* FIN SECTION QUOTE */
/* COMIENZO SECTION PROJECTS */
.projects {
    width: 100%;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project {
    width: calc(100% / 3 - (0.75em * 2));
    margin: 0.75em;
    border: 1px solid #ac217d;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    background-color: white;
}
.project-name {
    font-weight: 900;
    margin-top: 20px;
}
.project-section{
    background-color: #F1EAFF
}
/* FIN SECTION PROJECTS */
/* COMIENZO SECTION CONTACT */
.contact-section {
    background-color: #dcd6eb;
    padding-top: 200px;
}
.contact {
    display: flex;
    text-align: left;
    background-color: white;
    padding: 80px 60px;
    border-radius: 15px;
    border: 1px solid #e0e0e0;
}
.contact-column {
    width: 50%;
    padding-right: 20px;
}
.contact .section-title {
    margin-top: 0;
    margin-bottom: 30px;
}
.contact-social-links {
    margin-top: 40px;
    transition: 0.2s;
}
.contact-social-item {
    display: flex;
    margin: 5px 0;
}
.contact-social-link {
    display: flex;
    padding: 5px 10px;
    border-radius: 100px;
}
.contact-icon {
    display: block;
    width: 2rem;
    height: 2.2rem;
    background-color: #fff;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin-right: 10px;
    text-align: center;
}
/* FIN SECTION PROJECTS */
/* COMIENZO FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    background-color: #e638ec;
    color: white;
}
.footer-nav-menu {
    display: flex;
    margin: 0;
}
.footer-nav-item {
    margin: 0 10px;
}
.footer-nav-link {
    font-size: 14px;
    color: white;
}
.footer-social-links {
    display: flex;
    margin: 30px 0;
}
.footer-social-link {
    display: flex;
    border-radius: 50%;
    width: 2.7rem;
    margin: 10px;
}
.footer-social-icon {
    display: block !important;
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    border-radius: 50%;
    font-size: 1.7rem;
    line-height: 2.7rem !important;
    text-align: center;
}
