
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color-one:#F1EAFF;
    --background-color-two:#dcd6eb;
    --background-color-links:#e638ec;
    --border-color:#ac217d;
    --button-color:#af7eda;
    --tansition-button-color:#995cef;
    --nav-color:#8c3999;
    --box-shadow:#d868cd;
}
/* COMIENZO HEADER */
header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 40px 0;
    background-color:#e4cde6;
    position: fixed;
    top: 0;
    box-shadow: 0 0 30px 0 var(--box-shadow);
    left: 0;
    z-index: 1;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.nav-menu {
    display: flex;
    margin: 0;
}
.item { /*espacio entre item */
    margin: 0 10px;
}
.contacto{
    border-radius: 100px;
    padding:  15px;
    background-color: var(--button-color);
}
.nav-link{
padding: 8px 10px ;
border-radius: 70px;
}

/* FIN HEADER */


/* BASES */
body{
    font-size: 1.3em;
    font-family: "Poetsen One", sans-serif;
}
div {
    display: block;
}
a{
    text-decoration: none; /* Elimina subrayado */
    color: var(--nav-color);
}
ul{
    list-style-type: none; /* Elimina las viñetas */
    padding: 0; 
}
h1 {
    display: block;
    font-weight: bold;
    line-height: 1.2;
    font-size: 90px;
    font-weight: 900;
    font-family: "Permanent Marker", cursive;
}
h2 {
    display: block;
    font-family: "Bebas Neue", sans-serif; /* Esta fuente se queda, mg como queda.*/
    font-size: 50px;
    font-weight: 1000;
    line-height: 1;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
p {
    display: block;
    line-height: 1;
}
img {
    display: block;
    width: 100%;
}
.button {
    border: 0;
    background-color: var(--button-color);
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
button {
    border: 0;
    background-color: transparent;
    font-size: 1em;
    color: var(--nav-color);
    cursor: pointer;
    font-family: "Poetsen One", sans-serif;
  }

.nav-link.selected,
.button,.contacto {
  transition: 0.2s;
}
/*este le da transicion a LA BARRA DE NAV AL HACER CLICK*/ 
input:focus,
textarea:focus,
button:focus,
a:focus {
  box-shadow: 0px 0px 7px var(--box-shadow);
  outline: 0;
}
/*este le da transicion a los botones*/ 
.button:hover, .contacto:hover {
  background-color: #995cef;
}

.nav-link:hover,.footer-nav-link:hover { /*este le da transicion a la bara de naegacion*/
    color:#8338ec;
  }

.skill:hover,.project:hover {
    transform: translateY(-10px); /* Efecto de elevación */
    box-shadow: 0 0 0 1px var(--box-shadow), 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada y cambio de color de borde */
    border-color: var(--border-color); /* Color del borde al pasar el mouse */
}
@media (max-width: 550px) {
    h1 {
      font-size: 45px;
    }
    h2 {
      font-size: 40px;
    }
  }
/* FIN BASES */


/* LAYOUT */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column{
    width: 100%;
    max-width: 1100px;
}
.section {
    display: flex;
    justify-content: center;
    padding: 110px 40px 130px;
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
@media (max-width: 900px) {
    .column {
      max-width: 100%;
    }
  }
  
  @media (max-width: 700px) {
    .section {
      padding: 80px 20px;
    }
  }
  
  @media (max-width: 400) {
    .section {
      padding: 80px 10px;
    }
  }  
/* FIN LAYOUT */


/* COMIENZO SECTION ABOUT */
.about-section {
    min-height: calc(100vh - 90px);
    background-color: var(--background-color-one);
    margin-top: 90px;
}
.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.about-info{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.greeting-name {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 900;
    color: #af7eda;
}
.about-name {
    margin-top: 0;
    margin-bottom: 0px;
    color: var(--nav-color);
}
.about-description {
    color: #616161;
    font-size: 20px;
    margin-bottom: 25px;
}
.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  
}
.about-img {
  max-width: 100%;
  border-radius: 50%;
  width: 400px;
  height: 400px; 
  object-fit: cover;
  box-shadow: 4px 4px 12px var(--box-shadow);
}
@media (max-width: 1100px) {
    .main-content {
      flex-direction: column;
    }
    .about-info {
      align-items: center;
      text-align: center;
    }
    .about-img {
      margin-top: 30px;
      width: 350px;
    }
  }
/* FIN SECTION ABOUT */
/* COMIENZO SECTION SKILLS */
.skills-section {
    background-color: var(--background-color-two);
}
.section-description {
    max-width: 400px;
}
.skills-grid {
    justify-content: center;
}
.skill {
    color: #2e2e31;
    padding: 40px 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 270px;
    margin: 25px;
    padding: 20px;
    box-shadow: 0 7px 9px 7px rgba(0, 0, 0, 0.1); /* Añade sombra */
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s; /* Añade transición */
}
.skill-title {
    font-size: 1.5em;
    font-weight: 800;
}
.skill-icon {
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 26px;
    display: block;
}
@media (max-width: 450px) {
    .skill-title {
      font-size: 1em;
    }
    .skill {
      width: calc(50% - 20px);
      padding: 20px 10px;
      margin: 0.5em;
    }
    .skill-icon {
      font-size: 3.71em;
    }
  }
  
  @media (max-width: 450px) {
    .skill {
      padding: 10px;
      margin: 5px;
    }
    .skill-icon {
      font-size: 2.71em;
    }
  }
  
  @media (max-width: 350px) {
    .skill {
      width: 100%;
      max-width: 190px;
    }
    .skill-icon {
      font-size: 2.71em;
    }
  }
/* FIN SECTION SKILLS */
/* COMIENZO SECTION QUOTE */
.quote-section {
    background-color:var(--background-color-links);
    color: white;
    font-family: "Shadows Into Light", cursive;/*Esta fuente se queda*/
}
.quote-icon {
    font-size: 6rem;
    margin-bottom: 30px;
}
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.quote {
    font-size: 1.7rem;
    max-width: 800px;
}
@media (max-width: 500px) {
    blockquote {
      margin: 0;
    }
  
    .quote {
      font-size: 1em;
    }
  }
/* FIN SECTION QUOTE */
/* COMIENZO SECTION PROJECTS */
.projects {
    width: 100%;
}
.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project {
    width: calc(100% / 3 - (0.75em * 2));
    margin: 0.75em;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 7px 9px 7px rgba(0, 0, 0, 0.1); /* Añade sombra */
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s; /* Añade transición */
}
.project-name {
    font-weight: 900;
    margin-top: 20px;
}
.project-section{
    background-color: #F1EAFF
}
@media (max-width: 900px) {
    .project-filters {
      flex-wrap: wrap;
    }
  
    .project {
      width: calc(100% / 2 - (0.75em * 2));
      margin: 0.75em;
    }
  }
  
  @media (max-width: 550px) {
    .project-filters {
      flex-wrap: wrap;
    }
    .project-filter {
      margin: 0.5em 0;
      font-size: 0.8em;
      line-height: 2.2;
      padding: 0 20px;
    }
  
    .project {
      width: 100%;
      margin: 0;
      margin-bottom: 1.25em;
    }
  }
/* FIN SECTION PROJECTS */
/* COMIENZO SECTION CONTACT */
.contact-section {
    background-color: var(--background-color-two);
    padding-top: 200px;
}
.contact {
    display: flex;
    text-align: left;
    background-color: white;
    padding: 50px 40px 30px;
    border-radius: 15px;
    border: 1px solid var(--border-color);
    font-size: 1.2rem;
}
.contact-column {   
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
}
.contact .section-title {
    margin-top: 0;
    margin-bottom: 30px;
}
.contact-social-links {
    margin-top: 60px;
    transition: 0.2s;
}
.contact-social-item {  
    display: flex;
    margin: 5px 0;
}
.contact-social-link {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    border-radius: 100px;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para fondo y color */
}
.contact-icon {
    display: block;
    width: 2rem;
    height: 2.2rem;
    background-color: white;
    border-radius: 80%;
    font-size: 1.4rem;
    line-height: 2.3rem !important;
    margin-right: 10px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición para fondo y color */
}
.contact-social-link:hover {
    color: var(--background-color-links); /* Color del texto al pasar el mouse */
}

.contact-social-link:hover .contact-icon {
    background-color: var(--background-color-links); /* Color de fondo del icono al pasar el mouse */
    color: #fff !important; /* Color del icono al pasar el mouse */
}
form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}
.input-name-wrapper {
    display: flex;
    margin-right: 10px
}
.form-control {
    margin-bottom: 15px;
    flex-grow: 1;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
}
label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    margin-top: 5px;
}
input, textarea {
    border: 0;
    border-radius: 20px;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    font-size: var(--text-sm);
    padding: 10px 15px;
    display: block;
    width: 100%;
    outline: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    transition: 0.2s;
}
input:focus, textarea:focus {
    border-color: var(--border-color); /* Cambia este color por el que desees */
    box-shadow: 0 0 5px var(--box-shadow); /* Añade un resplandor alrededor del input */
}
/*aca verifico si el campo es valido o no */
input:valid:focus,
textarea:valid:focus {
  box-shadow: 0px 0px 5px #88c459;
}
input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
  box-shadow: 0px 0px 5px #f5414f;
}
input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
  border: 1px solid #f5414f;
}
input:valid,
textarea:valid {
  border: 1px solid #88c459;
}
.icon-invalid,
.icon-valid {
  display: none !important; 
  position: absolute;
  bottom: 20px;
  right: 20px;
  transform: translateY(50%);
}
.icon-valid {
  color: #88c459;
}
.icon-invalid {
  color: #f5414f;
}
input:valid ~ .icon-valid,
textarea:valid ~ .icon-valid,
input:not(:placeholder-shown):invalid ~ .icon-invalid,
textarea:not(:placeholder-shown):invalid ~ .icon-invalid {
  display: block !important;
}
@media (max-width: 900px) {
    .contact-section {
      flex-direction: column;
      padding: 0;
      background-color: transparent;
    }
  
    .contact {
      flex-direction: column;
      padding: 0 40px 120px;
      border: 0;
    }
  
    .contact-column {
      width: 100%;
      margin-bottom: 40px;
    }
  
    .contact-column:last-child {
      padding-left: 0;
      margin-bottom: 60px;
    }
  
    .contact-social-links {
      display: block;
      flex-wrap: wrap;
    }
  
    .contact-social-item {
      width: 50%;
    }
  }
  
  @media (max-width: 500px) {
    .contact {
      padding: 20px;
    }
  
    .contact-social-item {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  
    .input-name-wrapper {
      flex-direction: column;
    }
  
    .input-lastname {
      margin-left: 0;
    }
  
    .input-name-wrapper .form-control:nth-of-type(1) {
      margin-right: 0;
    }
  
    .input-name-wrapper .form-control:nth-of-type(2) {
      margin-left: 0;
    }
  }
  
/* FIN SECTION CONTACT */
/* COMIENZO FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 60px;
    background-color: var(--background-color-links);
    color: white;
}
.footer-nav-menu {
    display: flex;
    margin: 0;
}
.footer-nav-item {
    margin: 0 10px;
}
.footer-nav-link {
    font-size: 14px;
    color: white;
    transition: color 0.3s; /* Transición para el color*/
}
.footer-nav-link:hover {
    transform: scale(1.3); /* Aumenta el tamaño del enlace al pasar el mouse */
}
.footer-social-links {
    display: flex;
    margin: 30px 0;
}
.footer-social-link {
    display: flex;
    border-radius: 50%;
    width: 2.7rem;
    margin: 10px;
}
.footer-social-icon {
    display: block !important;
    width: 2.7rem;
    height: 2.7rem;
    background-color: white;
    border-radius: 50%;
    font-size: 1.7rem;
    line-height: 2.7rem !important;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;  /* Transición suave del color de fondo y efecto */
}
.footer-social-link:focus .footer-social-icon,
.footer-social-link:hover .footer-social-icon {
  color: #ffffff !important;
  background-color: var(--background-color-links);
  transform: scale(1.2);
  border: 1px solid #fff;
}  
@media (max-width: 700px) {
    .footer-nav-menu {
      display: none;
    }
    .footer-social-links {
      margin-top: 0;
    }
  }